
<body>
    <main class="container">
        <h2 class="page-title">Welcome to CSE Motors!</h2>

<!-- === FEATURE SECTION === -->
        <section class="feature">
            <div class="feature-image">
                <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean drawing">
                <div class="feature-text">
                    <a href="/vehicles/delorean" class="feature-title">DMC Delorean</a>
                    <ul class="feature-bullets">
                        <li>3 Cup holders</li>
                        <li>Superman doors</li>
                        <li>Fuzzy dice!</li>
                    </ul>
                    <a class="cta" href="/contact">Own Today</a>
                </div>
            </div>
        </section>
        <!-- === REVIEWS + UPGRADES WRAPPER === -->
        <section class="reviews-upgrades">
            <!-- REVIEWS -->
            <section class="reviews">
                <h3>DMC Delorean Reviews</h3>
                <ul>
                    <li>"So fast it's almost like traveling in time." (4/5)</li>
                    <li>"Coolest ride on the road." (4/5)</li>
                    <li>"I'm feeling McFly!" (5/5)</li>
                    <li>"The most futuristic ride of our day." (4.5/5)</li>
                    <li>"80's livin and I love it!" (5/5)</li>
                </ul>
            </section>
            <!-- UPGRADES -->
            <section class="upgrades">
                <h3>Delorean Upgrades</h3>
                <div class="upgrades-grid">
                    <figure>
                        <a href="/upgrades/flux-cap.png">
                            <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                        </a>
                        <figcaption>
                            <a href="/upgrades/flux-cap.png">Flux Capacitor</a>
                        </figcaption>
                    </figure>
                    <figure>
                        <a href="/upgrades/flame.jpg">
                            <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                        </a>
        `               <figcaption>
                            <a href="/upgrades/flame.jpg">Flame Decals</a>
                        </figcaption>
                    </figure>
                    <figure>
                        <a href="/upgrades/bumper-stickers">
                            <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                        </a>
                        <figcaption>
                            <a href="/upgrades/bumper-stickers">Bumper Stickers</a>
                        </figcaption>
                    </figure>
                    <figure>
                        <a href="/upgrades/hub-caps">
                            <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                        </a>
                        <figcaption>
                            <a href="/upgrades/hub-caps">Hub Caps</a>
                        </figcaption>
                    </figure>
                </div>
            </section>
        </section>
    </main>
</body>
